<div class="containerSideBar" #containerSideBar>
    <div class="fixedSidebar">
        <button class="col arrow-forward-menu-button" type="button" mat-icon-button
            (click)="changeState(); sidenav.toggle()" *ngIf="activeSidenav === false">
            <mat-icon class="arrow-green iconsMenu">arrow_forward
            </mat-icon>
        </button>
        <div class="spaceArrowOpenSidenav" *ngIf="activeSidenav === true"></div>
        <div class="pruebaContent">
            <div *ngFor="let menu of listMenu; index as i" class="accordion" (click)="changeAccordionStatus(i)">
                <button mat-button>
                    <mat-icon class="iconsMenu">{{menu.iconMenu}}</mat-icon>
                </button>
                <div class="panel infoHidden" *ngIf="menu.active === true">
                    <p *ngFor="let submenu of menu.submenu; index as i">{{submenu.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side">
            <button class="col arrow-back-menu-button" type="button" mat-icon-button
                (click)="changeState(); sidenav.toggle()">
                <mat-icon class="arrow-green">arrow_back
                </mat-icon>
            </button>
            <div class="row">
                <div class="col">
                    <span>
                        Carolina Da Silva
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col agencyInfo">
                    <span>Agency Admin</span>
                </div>
            </div>
            <div class="row">
                <div class="col agencyInfo">
                    <span>FLYTOUR AGENCIA IMAFLORA</span>
                </div>
            </div>
            <div class="accordionLeft">
                <div *ngFor="let menu of listMenu; index as i" class="accordion accordionLeft"
                    (click)="changeAccordionStatus(i)">
                    <button mat-button>{{menu.titleMenu}}
                    </button>
                    <div class="panel" *ngIf="menu.active === true">
                        <p *ngFor="let submenu of menu.submenu; index as i">{{submenu.title}}</p>
                    </div>
                </div>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>