<mat-toolbar id="mainToolbar" color="primary">
    <mat-icon (click)="sidenav.toggle()" id="toolbarMenu">subject</mat-icon>
    My Awesome App
    <span class="toolbar-spacer"></span>
    <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
</mat-toolbar>

<!-- <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>

</mat-drawer-container> -->


<ng-container>
    <mat-sidenav-container class="example-container">

        <mat-sidenav-container [formGroup]="options">

            <p>
                <mat-checkbox formControlName="fixed">Fixed</mat-checkbox>
            </p>

        </mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="options.value.fixed"
            [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
            Sidenav
        </mat-sidenav>

    </mat-sidenav-container>

</ng-container>
<!-- <mat-sidenav-container id="sidenavContainer" fullscreen> -->
<!-- <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened> -->

<!-- <mat-list id="menus">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="avatar"></div>

                    <mat-card-title>John Doe</mat-card-title>
                    <mat-card-subtitle>Internal</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-list-item>
                <button class="menu-item" mat-flat-button>
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </button>
            </mat-list-item>

            <mat-list-item>
                <button class="menu-item" mat-flat-button>
                    <mat-icon>work</mat-icon>
                    Project
                </button>
            </mat-list-item>

            <mat-list-item>
                <button class="menu-item" mat-flat-button>
                    <mat-icon>settings_application</mat-icon>
                    Settings
                </button>
            </mat-list-item> -->

<!-- </mat-list> -->
<!-- </mat-sidenav> -->


<!-- </mat-sidenav-container> -->