/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
  height: 100%;
  width: 100%;
}

/* Estilos Sidenav de Material */

mat-sidenav-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 6%;
  right: 0;
  width: 100%;
}

mat-sidenav {
  width: 19%;
  color: #fff !important;
  background-color: #333645 !important;
  overflow: hidden !important;
}

.arrow-back-menu-button {
  color: #01b5ad;
  margin-left: 80% !important;
}


.agencyInfo {
  font-size: 12px;
  font-family: LatamSansLight;
  color: #fff;
  display: block;
}

.pruebaContent {
  padding-top: 94%;
}

.iconsContent {
  margin-top: 2% !important;
  padding: 0 !important;
}

.spaceArrowOpenSidenav {
  height: 14vh;
}

/* .mat-expansion-panel-header {
  height: 64px !important;
  padding: 0px 10px 0px 0px!important;
} */

.mat-expansion-panel {
  margin-top: 9vh !important;
}

.containerSideBar {
  height: 100%;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

/* Estilos de la barra fija del Sidenav */

.fixedSidebar {
  width: 6%;
  height: 100%;
  color: #fff !important;
  background-color: #333645 !important;
}

/* Fin estilos Sidenav de Material */

/* Estilos de los acordeones del menú */

.accordion {
  background-color: #333645;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 1s;
}

.accordionLeft {
  padding-top: 12%
}

button {
  background-color: #333645;
  color: #fff;
  outline: none;
}

button, .active, .accordion:hover {
  background-color: #3B3E4E;  
}

button:focus {
  outline: 0;
}

.panel {
  color: #fff;
  padding: 0 18px;
  background-color: #333645;
  overflow: hidden;
}

.infoHidden {
  visibility: hidden;
  overflow: hidden;
  white-space: nowrap;
}